<div id="<%= dom_id template %>">
  <p>
    <strong>User:</strong>
    <%= template.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= template.title %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= template.visibility %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= template.description %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= template.body %>
  </p>

</div>
