<h1>Passwort ändern</h1>
<%= form_with url: update_password_account_path, method: :patch do |f| %>
  <div>
    <%= f.label :current_password, "Aktuelles Passwort" %><br>
    <%= f.password_field :current_password, name: "user[current_password]" %>
  </div>

  <div>
    <%= f.label :password, "Neues Passwort" %><br>
    <%= f.password_field :password, name: "user[password]" %>
    <small>(mindestens 12 Zeichen)</small>
  </div>

  <div>
    <%= f.label :password_confirmation, "Neues Passwort bestätigen" %><br>
    <%= f.password_field :password_confirmation, name: "user[password_confirmation]" %>
  </div>

  <div style="margin-top:10px;">
    <%= f.submit "Passwort speichern" %>
  </div>
<% end %>
