<h1>Registrieren</h1>

<% if @user.errors.any? %>
  <div style="color: red; margin-bottom: 1em;">
    <h2><%= pluralize(@user.errors.count, "Fehler") %> verhinderten die Registrierung:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :email, "E-Mail" %><br>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password, "Passwort" %><br>
    <%= f.password_field :password %>
    <small>(mindestens 12 Zeichen)</small>
  </div>

  <div>
    <%= f.label :password_confirmation, "Passwort bestätigen" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Konto anlegen" %>
  </div>
<% end %>