<div id="<%= dom_id document %>">
  <p>
    <strong>User:</strong>
    <%= document.user_id %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= document.template_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= document.body %>
  </p>

</div>
