<!DOCTYPE html>
<html>
  <head>
    <script>
    // sofort aus localStorage lesen, bevor CSS greift
    (function(){
      var t = localStorage.getItem("theme") || "light";
      document.documentElement.dataset.theme = t; // <html data-theme="...">
    })();
    </script>
    
    <title><%= content_for(:title) || "Latexhub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <div class="brand">LaTeXHub</div>

      <nav class="nav-links">
        <%= link_to "Home", root_path %>
        <%= link_to "Templates", latex_templates_path %>
        <%= link_to "Documents", documents_path %>
        <% if policy(User).index? %>
          <%= link_to "Benutzerverwaltung", admin_users_path %>
        <% end %>
      </nav>

      <div class="user-menu">
        <% if current_user %>
          <span class="user-email"><%= current_user.email %></span>
          <%= link_to "Profil", account_path %>
          <%= link_to "Passwort ändern", edit_password_account_path %>
          <%= link_to "Logout", logout_path, data: { turbo_method: :delete, turbo_confirm: "Abmelden?" } %>
        <% else %>
          <%= link_to "Login", login_path %>
          <%= link_to "Registrieren", new_user_path %>
        <% end %>
        <button data-controller="theme"
                data-action="click->theme#toggle"
                data-theme-button-target="button"
                class="theme-toggle">🌙 Dark</button>
      </div>
    </header>

    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert  %><p class="alert"><%= alert  %></p><% end %>

    <main class="site-content">
      <%= yield %>
    </main>
  </body>
</html>
